# Android Studio
.gradle/
local.properties

# Build
build/
target/

# Logs
*.log

# IDE
.idea/
*.iml

# Données OTP générées/téléchargées, ne pas versionner
otp-service/otp-data/*.osm.pbf
otp-service/otp-data/*.osm.pbf.bak
otp-service/otp-data/*.zip

