# Android Studio / IDE
.idea/
.vscode/
*.iml

# Build & Gradle
.gradle/
build/
target/

# Logs
*.log

# Variables d'environnement & Dumps SQL
.env
*.sql

# OTP Data (fichiers lourds générés/téléchargés)
otp-service/otp-data/*.pbf
otp-service/otp-data/*.zip
otp-service/otp-data/graph.obj